{% extends'base.html.twig'   %}
{% block body %}
    <div id="topOfPage" class="topTabsWrap">
        <div class="main">
            <div class="speedBar">
                <a class="home" href="{{ path('home') }} ">Accueil</a>
                <span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>

                <span class="current"></span>
            </div>
            <h3 class="pageTitle h3">Clubs</h3>
        </div>
    </div>
    <div class="mainWrap with_sidebar sideBarRight">
        <div class="main">
            <div class="content">

                <section class="no_margin no_padding">
                    <div class="container">
                        <div class="masonryWrap">
                            <div class="isotopeFiltr">
                                <ul>
                                    <li class="squareButton active">
                                        <a href="#" data-filter="*">Tous </a>
                                    </li>
                                    <li class="squareButton">
                                        <a href="#" data-filter=".flt_71">Natation</a>
                                    </li>
                                    <li class="squareButton">
                                        <a href="#" data-filter=".flt_66">Tennis</a>
                                    </li>
                                    <li class="squareButton">
                                        <a href="#" data-filter=".flt_61">FootBall</a>
                                    </li>
                                    <li class="squareButton">
                                        <a href="#" data-filter=".flt_64">HandBall</a>
                                    </li>
                                    <li class="squareButton">
                                        <a href="#" data-filter=".flt_65">Danse</a>
                                    </li>
                                    <li class="squareButton">
                                        <a href="#" data-filter=".flt_69">Musique</a>
                                    </li>

                                </ul>
                            </div>
    <div class="main_content">
        <div class="boxedWrap">

            <header class="noFixMenu menu_right without_user_menu">
                <div class="topWrapFixed"></div>
                <div class="topWrap">
                    <div class="mainmenu_area">
                        <div class="main with_logo_left">
                            <div class="logo logo_left">
                                <a href="index.html">
                                    <img src="images/152x34.png" class="logo_main" alt="">
                                    <img src="images/152x34.png" class="logo_fixed" alt="">
                                    <span class="logo_slogan"></span>
                                </a>
                            </div>



                        </div>
                    </div>
                </div>
            </header>

            <section class="masonry isotope" data-columns="2">
                <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article>
                <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article>
                <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article>
                <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article>
                <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article>
                <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article>
                <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article>
                <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article> <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article> <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article>
                <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article>
                <article class="isotopeElement post_format_standard even flt_71">
                    <div class="isotopePadding">
                        <div class="thumb hoverIncrease" data-image="images/2000x1537.png" data-title="Physical Activity Keeps Kids Healthy">
                            <img alt="Physical Activity Keeps Kids Healthy" src="images/1150x647.png">
                        </div>
                        <h4>
                            <a href="#">Lake Club</a>
                        </h4>
                        <p>Lake Club propose une nouvelle méthode d’entrainement avec le choix de votre coach : le « Coach Partner » avec une devise forte « Si je veux, je peux » !

                            Aujourd’hui, vous pouvez avoir votre coach personnel, qui sera votre interlocuteur privilégié. </p>
                        <div class="masonryInfo">
                            Posted
                            <a href="#" class="post_date">August 29, 2014</a>
                        </div>
                        <div class="masonryMore">
                            <ul>
                                <li class="squareButton light ico">
                                    <a class="icon-link" title="More" href="#">More</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-eye" title="Views - 116" href="#">116</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                                </li>
                                <li class="squareButton light ico">
                                    <a class="icon-star-1" title="Rating - 92.3" href="#">92.3</a>
                                </li>
                                <li class="squareButton light ico likeButton like" data-postid="952" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
                                    <a class="icon-heart-1" title="Like - 1" href="#">
                                        <span class="likePost">1</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <span class="inlineShadow"></span>
                    </div>
                </article>
            </section>{% endblock %}